@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-main {
  color: #fff;
  border-style: solid;
  border-width: 4px;
  border-color: #0c639c;
  border-radius: 14px;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("http://www.w3.org/2000/svg'width='6'height='6'><pathd='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z'fill='%230c639c");
  position: relative;
  background-color: #209cee;
  box-shadow: inset -4px -4px #1081cb;
}
