@import 'config';
@import 'node_modules/pixel-borders/src/styles/pixel-borders/pixel-borders-mixins';

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-top {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
@mixin flex-top-column {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

@mixin menu-button-mobile {
  @include pixel-box(
    $corner-size: 2,
    $border-size: 2px,
    $border-color: #000,
    $background-color: $button-menu-color,
    $border-inset: true,
    $border-inset-color: rgb(80, 80, 80)
  );
  color: black;
  transition: 200ms all ease-in-out;
  z-index: 1;
  &:hover {
    cursor: pointer;
  }
}
