@import 'config';
@import 'utilities';
@import 'node_modules/pixel-borders/src/styles/pixel-borders/pixel-borders-mixins';

.DiceContainerWrapper {
  font-family: $font-stack;
  height: 50%;
  width: 100%;
}
.dTwentyContainer {
  position: relative;
  text-align: center;
}
.dTwentyNum {
  position: absolute;
  top: 41%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 1.5rem;
}
.dTenContainer {
  position: relative;
  text-align: center;
}
.dTenNum {
  position: absolute;
  top: 35%;
  left: 50.1%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 1.5rem;
}
.dSixContainer {
  position: relative;
  text-align: center;
}
.dSixNum {
  position: absolute;
  top: 35%;
  left: 49%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 4rem;
}

.rollButton {
  @include pixel-box(
    $corner-size: 2,
    $border-size: 4px,
    $border-color: #000,
    $background-color: #d4d7df,
    $border-inset: true,
    $border-inset-color: rgb(80, 80, 80)
  );
  margin-top: 75px;
  font-family: $font-stack;
  width: 170px;
  height: 75px;
  font-size: 1rem;
  transition: 200ms all ease-in-out;
  &:hover {
    cursor: pointer;
    @include pixel-box(
      $corner-size: 2,
      $border-size: 4px,
      $border-color: #000,
      $background-color: #b7bfd2
    );
  }
}

.selectButton {
  @include pixel-box(
    $corner-size: 2,
    $border-size: 4px,
    $border-color: #000,
    $background-color: #d4d7df,
    $border-inset: true,
    $border-inset-color: rgb(80, 80, 80)
  );
  margin: 75px 30px 0px;
  font-family: $font-stack;
  width: 100px;
  height: 50px;
  font-size: 1rem;
  transition: 200ms all ease-in-out;
  &:hover {
    cursor: pointer;
    @include pixel-box(
      $corner-size: 2,
      $border-size: 4px,
      $border-color: #000,
      $background-color: #b7bfd2
    );
  }
}
